[build-system]
requires = ["setuptools>=40.8.0","wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "jgtpy"
version = "0.1.7"
authors = [
  { name="Guillaume Isabelle", email="jgi@jgwill.com" },
]
description = "Enhanced JGTPy"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/jgwill/jgtpy"
"Bug Tracker" = "https://github.com/jgwill/jgtpy/issues"
