matplotlib
numpy
packaging
pandas
Pillow
plotly
ply
pyparsing
python-dateutil
python-dotenv
pytz
requests
six
stone
tenacity
typing_extensions
urllib3
mplfinance
tlid
jgtapy
jgtutils
scipy
tomli
markdown-it-py
panel
flask
scipy
jinja2
dash
